<div class="row">
  <ba-card cardTitle="Funções" baCardClass="with-scroll" class="smart-table-container">
    <ng2-smart-table [settings]="settings" [source]="source"
                     (deleteConfirm)="onDeleteConfirm($event)"
                     (createConfirm)="onCreateConfirm($event)"
                     (editConfirm)="onEditConfirm($event)"
    ></ng2-smart-table>
  </ba-card>
</div>

<div class="modal fade" id="funcao">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header text-center">
        <h4 class="modal-title">Matéria</h4>
        <button type="button" class="close" (click)="close('funcao')">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <app-funcao></app-funcao>
      </div>
      <!-- Modal footer -->
    </div>
  </div>
</div>
