<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="id-materia">Identificador</label>
      <input [(ngModel)]="materia.id" name="id" type="number" class="form-control" id="id-materia"
             placeholder="Identificador" disabled>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="nome-materia">Nome</label>
      <input [(ngModel)]="materia.nome" name="nome" type="text" class="form-control" id="nome-materia"
             placeholder="Nome">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="descricao-materia">Descrição</label>
      <textarea [(ngModel)]="materia.descricao" name="descricao" type="text" class="form-control" id="descricao-materia"
                placeholder="Descrição do cargo..."></textarea>
    </div>
  </div>
</div>
<app-table
  [pojo]="materia"
  [titles]="['Identificador', 'Nome','Descricao']"
  [name]="'materia'"
  [columns]="['id','nome', 'descricao']"
></app-table>
