<!--<link rel="stylesheet" type="text/css" href="../../../styles.scss">-->
<div class="container card p-4" >

  <div class="form-group text-center">
    <img
      src="../../../assets/img/user-shape.png"
      alt="user image pattern"
      class="rounded-circle"
      width="150" height="150"
    />
  </div>
  <div class="form-group">
    <div>
      <input class="form-control" type="text" placeholder="nome de usuário">
    </div>
  </div>

  <div class="form-group">
    <div>
      <input class="form-control" type="password" placeholder="senha">
    </div>
  </div>
  <div class="text-center"><a href="forgot">Esqueceu sua senha?</a> </div>
  <hr>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="login()">Login</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
  <!--<button class="btn btn-primary" (click)=""></button>-->
</div>
