<div class="bd-example">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#"><img src="../../../assets/img/logo.png" style="width: 60px;"></a>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let i of itens" class="nav-item">
          <a routerLink="/{{i}}" routerLinkActive="active" class="nav-link" href={{i}}>{{i}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="border-width: 0" data-toggle="modal" data-target="#myModal" href='login'>Login</a>
        </li>
        <style>
          a:focus {
            outline: none;
          }
        </style>


        <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Features</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">Pricing</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">About</a>-->
        <!--</li>-->


      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Search"/>
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header text-center">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <app-login></app-login>
      </div>
      <!-- Modal footer -->

    </div>
  </div>
</div>

